
<div id="main" ng-controller="charController">
  <div id="instruction" ng-show="showTips">Click on the <span class="red">RED </span><span class="reg-text">box to select the character you want.</span></div>
  <div id="tooltip" ng-show="showNarrative">{{ nextNarrative }}</div>
  <button id="tooltip-button" ng-click="pickRandom()" ui-sref="stats" ng-show="showNarrative">Pick randomly for me!</button>
  <div id="charSelect">
    <div ng-repeat="char in characters" ng-click="charClick(char.type)" class="charBox"><img ng-src="{{char.url}}" class="char char-char"/>
      <div ui-sref="stats" class="char-select">
        <p class="char-select__text">Select</p>
      </div>
    </div>
  </div>
  <div id="gameNav">
    <button id="backNav" ui-sref="home" class="btn"> <a ui-sref="home">Home</a></button>
    <button ng-click="toggleShowTips()" class="showTips">{{showTipsText}}</button>
  </div>
</div>