
<div class="container account-form">
  <form name="form" novalidate="novalidate">
    <div class="input-row">
      <input type="email" required="required" placeholder="Email" onfocus="this.placeholder = ''" ng-model="credentials.email" name="uEmail" class="form-control input-field"/>
      <div ng-show="form.$submitted || form.uEmail.$touched">
        <div ng-show="form.uEmail.$error.required" class="validation-error">Please enter an email address</div>
        <div ng-show="form.uEmail.$error.email" class="validation-error">Invalid email address</div>
      </div>
    </div>
    <div class="input-row">
      <input type="password" placeholder="Password" onfocus="this.placeholder = ''" ng-model="credentials.password" name="uPassword" required="required" ng-minlength="6" class="form-control input-field"/>
      <div ng-show="form.$submitted || form.uPassword.$touched">
        <div ng-show="form.uPassword.$error.required" class="validation-error">Please enter a password</div>
        <div ng-show="form.uPassword.$error.minlength" class="validation-error">Please use 6 or more characters</div>
      </div>
    </div>
    <div class="input-row">
      <button ng-click="submit(form)" class="btn btn-primary btn-block">LOGIN</button>
    </div>
    <div class="input-row pull-right">
      <p class="login-help"><a ui-sref="register">Create an account</a></p>
    </div>
  </form>
</div>