
<div id="main" ng-controller="statsController" class="statsPage">
  <div id="instruction">Sections of this game may have JavaScript (JS) to show configurability! Hope you can learn some JS :)</div>
  <div class="name__label">Enter your character's name:</div>
  <div class="name__label--javascript">let name = </div>
  <input type="text" ng-model="charName" placeholder="Character Name" maxlength="20" class="name__input"/>
  <div class="type__label">Your character's type (chosen in Character Select):</div>
  <div class="type__label--javascript">let type = </div>
  <div id="type__text">{{ chartype }}</div>
  <div id="subclass-selection">
    <button ng-repeat="class in classes" ng-click="setSubclass($index)" class="subclass__btn">{{class}}</button>
  </div>
  <div id="stat-summary" class="stat-summary">
    <div class="stat-summary__name-label">Name:</div>
    <div class="stat-summary__name-value stat--javascript">>> {{charName}}</div>
    <div class="stat-summary__type-label">Class:</div>
    <div class="stat-summary__type-value stat--javascript">>> {{chartype}}</div>
    <div class="stat-summary__type-label">Subclass:</div>
    <div class="stat-summary__type-value stat--javascript">>> {{subclass}}</div><img ng-src="{{imgUrl}}" class="char"/>
  </div>
  <button ui-sref="char" class="back-char btn"> <a ui-sref="char">Back to Character selection</a></button>
  <button style="margin-top:150px;" ui-sref="home" class="back-home btn"> <a ui-sref="home">Back home</a></button>
  <button ng-click="setCharstats()" ui-sref="edit({chartype:chartype,subclass:subclass,name:charName})" ng-show="subclass !== 'defaultSubclass'" class="go-edit btn"> <a ng-click="setCharstats()" ui-sref="edit({chartype:chartype,subclass:subclass,name:charName})">Go Edit</a></button>
</div>