
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Code Ruckus</title>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet"/>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-ui-router.js"></script>
    <script type="text/javascript" src="js/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="config.js"></script>
    <script type="text/javascript" src="env.js"></script>
  </head><script src="scripts/controllers/account/battle.controller.js"></script>
<script src="scripts/controllers/account/char.controller.js"></script>
<script src="scripts/controllers/account/edit.controller.js"></script>
<script src="scripts/controllers/account/home.controller.js"></script>
<script src="scripts/controllers/account/stats.controller.js"></script>
<script src="scripts/controllers/account/village.controller.js"></script>
<script src="scripts/controllers/shared/header.controller.js"></script>
<script src="scripts/directives/confirm.input.directive.js"></script>
<script src="scripts/routes/account.route.js"></script>
  <body ng-app="myApp">
    <div class="page-container">
      <audio id="cr-audio" src="../../img/music/oveheavensings.mp3" autoplay="autoplay" loop="loop" ng-if="headline !== '[CR] BATTLE at JS-Land!'"></audio>
      <div ui-view="header" ng-click="(document.getElementById('cr-audio').pause)"></div>
      <div class="container has-top-fixed-bar">
        <div class="row row-offcanvas row-offcanvas-left">
          <div ui-view="main" class="col-xs-12 col-sm-12"></div>
          <div ui-view="menu"></div>
          <div ui-view="content" class="col-xs-12 col-sm-9"></div>
        </div>
      </div><a id="conceptsCovered" href="../../img/docs/ConceptsCoveredinCodeRuckus.pdf" target="_blank">Concepts Covered</a>
      <div id="cr-pause" onclick="document.getElementById('cr-audio').pause(); let e = document.getElementById('cr-pause').classList.add('selected'); document.getElementById('cr-play').classList.remove('selected');" class="music-ctrl toggleable">Music Off</div>
      <div id="cr-play" onclick="document.getElementById('cr-audio').play(); document.getElementById('cr-play').classList.add('selected'); document.getElementById('cr-pause').classList.remove('selected');" class="music-ctrl selected toggleable">Music On</div>
    </div>
  </body>
</html>